<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Aldana Laser Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

    table td a {
        text-decoration: none !important;
    }
</style>

<body bgcolor="#FFFFFF" class="" style="background-color:#fff !important">
    <!-- Corte -->
    <table width="640" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="font-weight:100;color:#5c5c5c;font-size: 16px; line-height:1.3;border-style:none;max-width:640px;text-align:center">
        <tbody>
            <tr>
                <td>
                    <table width="100%" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr style="line-height:0px !important;">
                                <td>
                                    <img src="{{ BASE_URL }}img/logo.jpg" width="640" style="display:block" alt="¡Hemos hecho su registro!">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="color: #686868;margin-bottom:20px;">
                        <tbody>
                            <tr>
                                <td width="550px" style="font-size: 18px;text-align: center;">
                                    <p style="color:#61F2C1;font-size:30px;"><strong>Hola {{ user }}</strong></p>
                                    <p>Su cuenta ha sido creada con éxito, ahora puede ingresar para continuar usando la aplicación <strong style="color:#61F2C1;">Salud Bienestar La Victoria.</strong></p>
                                    <br />
                                    <div><a href="{{ WEB_URL }}{{ confirm_url }}" style="background:#61F2C1;color:#fff;border-radius:50px;padding:10px 20px;"><strong>CONFIRMAR CUENTA AQUÍ</strong></a></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" align="center" bgcolor="#ededed" border="0" cellspacing="0" cellpadding="0" style="padding-top:20px;">
                        <tbody>
                            <tr>
                                <td style="text-align: center;font-size:16px;padding-bottom:20px;color:#61F2C1;">
                                    <strong>Si no sabe de que trata este correo, ignorelo completamente o en su defecto, eliminelo. 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
